@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1> Message Wall Index</h1>

<div>
    <a asp-action="Create"> Create a Message</a>
</div>